.mine-wrapper {
    margin: 0px auto;
}

.mine-box{
    padding-top: calc(100% /8);
    width: calc(100% /8);
    float: left;
    box-shadow: 0px 0px 1px #dedede;
}

.mine-box-puzzle-bg {
    background: url('../images/question.png') no-repeat;
    background-size: cover;
}

.mine-box-diamond-bg {
    background: url('../images/diamond.png') no-repeat;
    background-size: cover;
}

.mine-box-clue-bg-right {
    background: url('../images/arrow.png') no-repeat;
    background-size: cover;
}

.mine-box-clue-bg-left {
    background: url('../images/arrow.png') no-repeat;
    background-size: cover;
    transform: rotate(180deg);
}

.breakLine {
    clear: left;
}

